<%= render 'header' %> 

<fieldset>
    <legend> 
        <%= @title %> 
    </legend>

    <p>
        <table>
            <tr> 
                <th> Ingredient </th>
            </tr>
            <% @ingredients.each do |i| %> 
                <tr>
                    <td> <%= link_to "#{i.name}", i %> </td>
                </tr>
            <% end %> 
        </table>
    </p>
</fieldset>
