<%= render 'header' %> 

<fieldset>
    <legend> 
        <%= @title %> 
    </legend>

    <p>
        <table>
            <tr> 
                <th> Allergy </th>
            </tr>
            <% @allergies.each do |a| %> 
                <tr>
                    <td> <%= link_to "#{a.name}", a %> </td>
                </tr>
            <% end %> 
        </table>
    </p>
</fieldset>
