<%= render 'header' %> 

<fieldset>
    <legend> 
        <%= @title %> 
    </legend>

    <p>
        <table>
            <tr> 
                <th> Unit </th>
            </tr>
            <% @units.each do |u| %> 
                <tr>
                    <td> <%= link_to "#{u.name}", u %> </td>
                </tr>
            <% end %> 
        </table>
    </p>
</fieldset>
